@import '../../mixins';

$badge-background: #789;
$badge-color: #fff;

:host {
  @include var(badge-background, $badge-background);
  @include var(badge-color, $badge-color);
  // formatting
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 15px;
  padding: 3px 4px;
  vertical-align: super;
  font-size: 12px;
  font-weight: normal;
  // styles
  color: var(--badge-color);
  background: var(--badge-background);
  box-shadow: 1px 1px 2px #aaa;

  slot {
    display: inline;
    margin: 1px;
  }

  ::slotted(*) {
    margin: 0 2px;
  }
}
