@import '../../mixins';

$badge-background: #789;
$badge-color: #fff;

:host {
  @include var(badge-background, $badge-background);
  @include var(badge-color, $badge-color);
}

span {
  color: var(--badge-color);
  border-radius: 15px;
  background: var(--badge-background);
  padding: 2px 3px;
  box-shadow: 1px 1px 2px #aaa;
  display: inline-block;
  vertical-align: super;
  font-size: 12px;
  font-weight: normal;

  slot {
    display: inline;
    margin: 1px;
  }

  ::slotted(*) {
    margin: 0 2px;
  }
}
