@import '../../theme';
@import '../../mixins';

:host {
  @include var(paper-background, #fff);
  @include var(paper-color, $text-color);
  @include var(paper-border, 1px solid $paper-border-color);
  @include var(paper-shadow, 0 0 5px $paper-shadow-color);

  display: block;
  position: relative;
  overflow: hidden;
  margin: 10px;

  background: var(--paper-background);
  color: var(--paper-color);
  border: var(--paper-border);
  box-shadow: var(--paper-shadow);

  slot::slotted(p) {
    margin: 10px 5px;
    padding: 5px;
  }
}
