$social-size: 75px;
$social-colors:
  "custom" #567,
  "facebook" #3b5998,
  "twitter" #55acee,
  "github" #000,
  "linkedin" #0e76a8,
  "youtube" #cd201f,
  ;

:host {
  display: inline-flex;
  line-height: 0;
}

e-tooltip {
  --e-social-size: #{$social-size};
  display: flex;

  a {
    display: flex;
    color: #fff;
    font-size: calc(var(--e-social-size) / 1.75);
    height: var(--e-social-size);
    width: var(--e-social-size);
    align-items: center;
    justify-content: center;
  }
}

@each $social, $color in $social-colors {
  .#{$social} {
    --e-social-color: #{$color};

    &.square {
      background-color: var(--e-social-color);
    }

    &.round {
      background-color: var(--e-social-color);
      border-radius: var(--e-social-size);

      a {
        border-radius: var(--e-social-size);
      }
    }

    &.outline {
      $outline: 3px;
      background-color: transparent;

      a {
        border: $outline solid var(--e-social-color);
        height: calc(var(--e-social-size) - #{$outline * 2});
        width: calc(var(--e-social-size) - #{$outline * 2});
        color: var(--e-social-color);
      }
    }
  }
}
