$social-size: 75px;
$social-padding: 15px;
$social-colors:
  "facebook" #3b5998,
  "twitter" #55acee,
  "github" #000,
  "linkedin" #0e76a8,
  "youtube" #cd201f,
  ;

:host {
  --e-social-size: #{$social-size};
  --e-social-padding: #{$social-padding};
  --e-size: calc(var(--e-social-size) - var(--e-social-padding));
}

a {
  display: inline-block;
  height: var(--e-size);
  width: var(--e-size);
  padding: var(--e-social-padding);
  color: #fff;
  text-decoration: none;
  line-height: var(--e-size);
  text-align: center;
  overflow: hidden;

  e-icon {
    display: inline;
    font-size: calc(var(--e-social-size) / 1.5);
  }
}

@each $social, $color in $social-colors {
  .#{$social} {
    --e-social-color: #{$color};

    &.square {
      background-color: var(--e-social-color);
    }

    &.round {
      background-color: var(--e-social-color);
      border-radius: var(--e-size);
    }

    &.outline {
      $outline: 3px;
      border: $outline solid var(--e-social-color);
      padding: calc(var(--e-social-padding) - #{$outline});
      color: var(--e-social-color);
      background-color: transparent;
    }
  }
}
