@import '../../theme';

e-paper {
  header {
    background-color: #ededed;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid $paper-border-color;
    display: flex;
    align-items: center;
    color: #777;

    h3 {
      color: $text-primary-color;
      font-size: 18px;
      margin: auto 2px;
      padding: 0 3px;
      width: 100%;
    }
  }

  > p {
    margin: 0;
    padding: 10px;
  }
}
