@import '../../theme';
@import '../../mixins';

:host {
  @include var(card-header-background, #ededed);
  @include var(card-header-color, $text-primary-color);
  @include var(card-header-icon-color, #777);
}

e-paper {
  header {
    background: var(--card-header-background);
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid $paper-border-color;
    display: flex;
    align-items: center;
    color: var(--card-header-icon-color);

    > h3 {
      @extend %text-overflow;
      color: var(--card-header-color);
      font-size: 18px;
      margin: auto 2px;
      padding: 0 3px;
      width: 100%;
    }
  }
}
