@import '../../theme';

a {
  color: var(--color, $text-color);
  text-decoration: none;

  &:visited {
    color: $text-color;
  }

  &:hover {
    color: var(--color-hover, #000);
  }

  &:active, &:focus {
    color: var(--color-hover, #111);
    border-bottom: 1px dotted var(--color-hover, #111);
  }
}
