@import '../../theme';
@import '../../mixins';

:host {
  color: $text-color;
}

div.pre {
  white-space: pre;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

code {
  background-color: #f1f1f1;
  padding: 3px 5px;
  border-radius: 3px;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    border-bottom: 1px dotted $text-color;
  }
}

// todo find a better way to copy stuff like this
pre {
  @include var(preformat-border, 1px solid #d3d3d3);
  @include var(preformat-background, #f1f1f1);
  // formating
  padding: 5px;
  margin: 5px;
  // styles
  @extend %overflow;
  border: var(--preformat-border);
  background: var(--preformat-background);
}
