$positions: 'left', 'right';
$sidebar-background: #1b486edf;
$sidebar-border: 1px solid #1c486e;
$sidebar-header-height: 75px;

.sidebar-opener {
  text-decoration: none;
  color: #fff;

  &:focus + aside {
    @each $pos in $positions {
      &.#{$pos} {
        #{$pos}: 0;
      }
    }
  }
}

aside {
  --e-sidebar-background: #{$sidebar-background};
  --e-sidebar-border: #{$sidebar-border};
  background: var(--e-sidebar-background);
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 25vw;
  height: 100vh;
  transition: left 0.5s, right 0.5s;

  @media (max-width: 1024px) {
    width: 75vw;
  }

  // Handle the hover state of each of the postions
  @each $pos in $positions {
    &.#{$pos} {
      border: var(--e-sidebar-border);
      border-top: none;
      border-bottom: none;
      border-#{$pos}: none;
      #{$pos}: -100vw;

      &:hover {
        #{$pos}: 0;
      }
    }
  }

  .container {
    height: 100vh;
    overflow: hidden;

    header, footer {
      height: var(--e-header-height, $sidebar-header-height);
    }

    header {
      box-shadow: 0 0 50px var(--e-sidebar-background);
    }

    footer {
      margin-bottom: var(--e-header-height, $sidebar-header-height);
    }

    .scroll {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
    }
  }

  nav {
    a {
      position: relative;
      display: block;
      width: 100%;
      color: #fff;
      background: #ffffff55;
      border: 1px solid #dddddd55;
      border-left: none;
      border-right: none;
      margin: 3px 0;
      text-decoration: none;
      height: 50px;
      line-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background: #ffffff33;
        border-color: #dddddd33;
      }

      &:focus, &:active {
        span {
          color: #dedede;
          border-bottom: 1px dashed #ddd;
        }
      }

      span {
        font-size: 18px;
        margin-left: 55px;
      }

      e-icon {
        font-size: 24px;
        position: absolute;
        width: 50px;
        text-align: center;
      }
    }
  }
}
