@import '../../theme';
@import '../../mixins';

$positions: 'left', 'right';
$sidebar-background: #1b486edf;
$sidebar-border: 1px solid #1c486e;
$sidebar-header-height: 75px;  // This is the backup if it cant find --e-header-height

:host {
  @include var(sidebar-background, $sidebar-background);
  @include var(sidebar-border, $sidebar-border);
  @include var(header-height, $sidebar-header-height);
}

.sidebar-opener {
  text-decoration: none;
  color: #fff;

  &:focus + aside {
    @each $pos in $positions {
      &.#{$pos} {
        #{$pos}: 0;
      }
    }
  }
}

aside {
  background: var(--sidebar-background);
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 25vw;
  height: 100vh;
  transition: left 0.5s, right 0.5s;

  @media (max-width: 1024px) {
    width: 75vw;
  }

  // Handle the hover state of each of the postions
  @each $pos in $positions {
    &.#{$pos} {
      border: var(--sidebar-border);
      border-top: none;
      border-bottom: none;
      border-#{$pos}: none;
      #{$pos}: -100vw;

      &:hover {
        #{$pos}: 0;
      }
    }
  }

  .container {
    height: 100vh;
    overflow: hidden;

    %header-footer {
      height: var(--header-height);
    }

    header {
      @extend %header-footer;
      box-shadow: 0 0 50px var(--sidebar-background);
      line-height: var(--header-height);

      ::slotted(span) {
        @extend %text-overflow;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
      }
    }

    footer {
      @extend %header-footer;
      margin-bottom: var(--header-height);
      bottom: 0;
    }

    .scroll {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  nav {
    a {
      @extend %text-overflow;
      text-align: left;
      position: relative;
      display: block;
      width: 100%;
      color: #fff;
      background: #ffffff55;
      border: 1px solid #dddddd55;
      border-left: none;
      border-right: none;
      margin: 3px 0;
      text-decoration: none;
      height: 50px;
      line-height: 50px;

      &:hover {
        background: #ffffff33;
        border-color: #dddddd33;
      }

      &:focus, &:active {
        span {
          color: #dedede;
          border-bottom: 1px dashed #ddd;
        }
      }

      span {
        font-size: 18px;
        margin-left: 55px;
      }

      e-icon {
        font-size: 24px;
        position: absolute;
        width: 50px;
        text-align: center;
      }
    }
  }
}
