
img {
  background: #ddd linear-gradient(90deg, #ddd, #eee, #ddd) no-repeat fixed;
  background-size: 5vw;
  animation: loading 4s infinite;
  display: inline-block;
}

@keyframes loading {
  from {
    background-position: -5vw 0;
  }
  to {
    background-position: 100vw 0;
  }
}
