@import '../../mixins';

$tooltip-background: #666;
$tooltip-directions:
  left right,
  right left,
  top bottom,
  bottom top,
;

:host {
  @include var(tooltip-background, $tooltip-background);
}

span.wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  // Tooltip content
  > slot[name='tooltip'] {
    display: none;
    position: absolute;
    border-radius: 2px;
    background: var(--tooltip-background);
    padding: 0;
    z-index: 1;

    // Add padding to the default span element
    span.tooltip {
      white-space: nowrap;
      padding: 2px 5px;
      color: #fff;
      font-size: 14px;
      line-height: 1.5;
    }
  }

  // Arrow wrapper
  &:before {
    display: none;
    position: absolute;
    height: 0;
    width: 0;
    content: '';
  }

  // Show elements when hovered
  &:hover, &:focus {
    &:before, slot[name='tooltip'] {
      line-height: 1.5;
      display: inline-flex;
      animation: fade 0.15s;
    }
  }

  // Style the diffrent directions
  @each $class, $direction, $margin-direction in $tooltip-directions {
    &.#{$class} {
      $margin: 2px;
      $arrow-size: 5px;

      // Arrow
      &:before {
        #{$direction}: 100%;
        margin-#{$direction}: #{$margin};
        @include border-triangle(#{$class}, var(--tooltip-background), $arrow-size);
      }
  
      // Tooltip
      > slot[name='tooltip'] {
        #{$direction}: 100%;
        margin-#{$direction}: #{$margin + $arrow-size};
      }
    }
  }
}

// The fade animation
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
