
:host {
  position: relative;
  display: inline;
  overflow: hidden;
  background-color: #567899;
  padding: 2px 3px;
  margin: 2px 1px;
  color: #fefefe;
  border-radius: 2px;
  font-style: normal;

  ::slotted(*) {
    --link-color: #efefef;
    --link-border-hover: 1px dotted #eee;
    --link-color-active: #fff;
  }
}
