$theme-color: #455;

$background-color: #efefef;
$text-color: #000000bc;
$text-primary-color: #337ab7;

$paper-border-color: #ccc;
$paper-shadow-color: #00000033;


%hide {
  display: none !important;
}

%text-center {
  text-align: center;
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%overflow {
  word-wrap: normal;
  overflow: auto;
}
