@import 'theme';

e-paper {
  h3 {
    background-color: #ededed;
    margin: 0;
    padding: 5px 10px;
    font-size: 18px;
    border-bottom: 1px solid $paper-border-color;
    color: $text-primary-color;
  }

  > p {
    margin: 0;
    padding: 10px;
  }
}
