@import '../../theme';
@import '../../mixins';

:host {
  @include var(link-color, $text-color);
  @include var(link-color-active, #000);
  @include var(link-border-hover, 1px dotted $text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:visited {
    color: var(--link-color);
  }

  &:hover {
    border-bottom: var(--link-border-hover);
  }

  &:active, &:focus {
    color: var(--link-color-active);
  }
}
