name: Deploy Docs

# Only deploy changes to master branch
on:
  push:
    branches:
    - 'master'
    paths:
    - '.github/workflows/docs.yml'
    - 'public/**'
    - 'src/**'
    - 'package*.json'

jobs:
  # Deploy to the gh-pages branch
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: npm install, build
        run: |
          npm ci
          npm run build
        env:
          CI: true
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.0.4
        with:
          ACCESS_TOKEN: ${{ secrets.BUILD_GH_PAGES }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BASE_BRANCH: master
          BRANCH: gh-pages
          FOLDER: build
